
/* Tuve que traer una fuente local que utiliza la empresa*/

@font-face {
    font-family: GothamBlackRegular;
    src:url(fonts/Gotham\ Black\ Regular.ttf);
}

.navbar-brand {
    font-family: GothamBlackRegular;
    color: white;
    text-shadow: 0 0 1px rgb(0, 0, 0);

}

.tituloq{
    font-family: GothamBlackRegular;
    color: white;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}